<?xml version="1.0" encoding="utf-8"?>
<uexplugins>
	<plugin
        className="org.zywx.wbpalmstar.plugin.uexesurfingrtc.EUExesurfingRtc" 
        uexName="uexESurfingRtc"
        global="false" >
        <method name="setAppKeyAndAppId"/>
        <method name="login"/>
        <method name="logout"/>
        <method name="call"/>
        <method name="acceptCall"/>
        <method name="hangUp"/>
        <method name="mute"/>
        <method name="loudSpeaker"/>
        <method name="setVideoAttr"/>
        <method name="takeRemotePicture"/>
        <method name="sendMessage"/>
        <method name="switchCamera"/>
        <method name="rotateCamera"/>
        <method name="switchView"/>
        <method name="hideLocalView"/>
        <method name="groupCreate"/>
        <method name="groupMember"/>
        <method name="groupInvite"/>
        <method name="groupList"/>
        <method name="groupJoin"/>
        <method name="groupKick"/>
        <method name="groupClose"/>
        <method name="groupVideo"/>
        <method name="groupMic"/>
    </plugin>
</uexplugins>